<mat-toolbar color="primary">
  <a class="logo" routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable="on" onselectstart="return false;" onmousedown="return false;">BeHappyGaming</a>

  <span class="spacer"></span>

  <a mat-button routerLink="DashBoard" routerLinkActive="active">
    <mat-icon>equalizer</mat-icon>
  </a>
</mat-toolbar>


<router-outlet></router-outlet>