
  .active {color:white;}
  
  .mat-toolbar {
    background: transparent;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .logo {
    margin: 0px 10px;
    font-size: 35px;
    padding-right: 50px;
    font-style: italic;
  }
  
  a{
    font-size: 18px;
    text-decoration: none;
    color: white;
  }